/* bads.tm 2017 */
body{
  font-color: #FFFFFF;
}

.awardImage {
position:relative;
left: -130px;
top: 60px;
}

.pageInactive{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 12px;
  color: #000000;
  font-style: normal;
  text-decoration: none
}

.pageActive{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 12px;
  color: #4372A4;
  font-style: normal;
  text-decoration: none
}

.newsText{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 12px;
  color: #000000;
  font-style: normal
}

.newsHeader{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-style: normal
}


.newsTitle{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  font-style: normal
}

.newsDate{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #5B5B5B;
  font-style: normal
}



.infoHeaderLink{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 9px;
  color: #b11011;
  font-weight: bold;
  font-style: normal

}


.newsRelatedLink{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 9px;
  color: #000000;
  font-weight: bold;
  font-style: normal

}

.loggedInUserName{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  color: #FFFFFF;
  font-weight: bold;
  font-style: normal
}

.newsLastComment{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 9px;
  color: #000000;
  font-style: normal
}

/* #bads */
.copyRight{
font-family: 'Catamaran', sans-serif;
  font-size: 9px;
  color: #FFFFFF;
  font-style: normal
  src: local('Catamaran Thin'), local('Catamaran-Thin'), url(https://fonts.gstatic.com/s/catamaran/v2/AsJXcel0VOprDS7k9OVAc-WS8h3n1nFPP5cmXoNgba8.woff2) format('woff2');
}

.timeRemaining{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 9px;
  color: #000000;
  font-style: normal
}

.days{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 22px;
  color: #FF0000;
  font-weight: bold;
  font-style: normal
}

.navigation{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #FFFFFF;
  font-style: normal
}

.newsImageLeft {
    margin : 0px 7px 7px 0px;
    border : 1px 1px 1px 1px;
    border-top : 1px solid #000000;
    border-right : 1px solid #000000;
    border-bottom : 1px solid #000000;
    border-left : 1px solid #000000;
    float: center;
}

.newsImageRight {
    margin : 0px 0px 7px 7px;
    border : 1px 1px 1px 1px;
    border-top : 1px solid #000000;
    border-right : 1px solid #000000;
    border-bottom : 1px solid #000000;
    border-left : 1px solid #000000;
    float: center;
}

.awardHeader{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-style: normal
}

.awardTitle{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 12px;
  color: #000000;
  font-weight: bold;
  font-style: normal
}

.awardRate{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 42px;
  color: #FF0000;
  font-weight: bold;
  font-style: normal
}

.awardDate{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  font-style: normal
}

.awardText{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 12px;
  color: #000000;
  font-style: normal
}

.screenShotPublisher{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 9px;
  color: #000000;
  font-style: normal
}

.screenShotOfTheWeek{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 42px;
  color: #FF0000;
  font-weight: bold;
  font-style: normal
}

.sotw{
  font-size: 22px;
}

.blackLink {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #000000;
  text-decoration: none
}

.menuText{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  color: #BBBBBB;
  text-decoration: none
}

.selectedMenuText{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  color: #FFFFFF;
  text-decoration: none
}

.downloadDate{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #616161;
  font-weight: bold;
  text-decoration: none
}

.downloadTitle{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 12px;
  color: #000000;
  font-weight: bold;
  font-style: normal
}

.downloadSize{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 9px;
  color: #000000;
  font-style: normal
}
.downloadText{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #000000;
  font-style: normal
}


.pollText{
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v9/oxrPYIm05JrY_0rFIEQ_oRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none
}

.pollVoteCount{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #000000;
  font-weight: bold;
  text-decoration: none
}

.pollAllResultTable {
	border-width: thin thin thin thin;
	border-spacing: 0px 0px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: separate;
}

.bestTopicMonth{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 9px;
  color: #FFFFFF;
  text-decoration: none
}

.link {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none
  }

.link a:hover {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none
  }

.link a:visited {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none
  }

.parseLink {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 12px;
  color: #003F74;
  text-decoration: underline
  }

.adadLink {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #ADADAD;
  text-decoration: none
  }

.selectLink {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #085C0A;
  text-decoration: none
  }

.dropLink {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #C30000;
  text-decoration: none
  }


.headline {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  font-weight: bold;
  color: #202020;
  text-decoration: none
  }


.contentLink {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #003366;
  text-decoration: none
  }

.contentLink a:hover {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #003366;
  text-decoration: none
  }

.menu {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #DCC1C1;
  text-decoration: none
  }

.menu:hover {
  text-decoration: underline;
  }

.menuSelected {
  text-decoration: underline;
  color: #000000;  
  font-weight: bold;  
  }

.menuBottomSelected {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  color: #003366;
  text-decoration: none
  }


.headLine {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none
  }


.trHeader2 {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #556677;
}


.trHeader {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #0077AF;
}

.trInfo {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #4A5662;
}

.trContentLight {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #202020;
  text-decoration: none;
  background-color: #E5E5E5;
}

.trMenu {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #DCC1C1;
  text-decoration: none;
  background-color: #000000;
}

.trContentDark {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #202020;
  text-decoration: none;
  background-color: #D3D3D3;
}

.inputControl {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
	font-size: 10px;
	color: #334455;
    background-color: #E2E4E4;
	border: 1px black solid;
	border-color: #415972;
}

.replyComment {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
	font-size: 11px;
	color: #000000;
    background-color: #FFFFFF;
	border: 1 px;
	border-color: #556677;
	border-style: thin;
    margin-bottom: 0px;
}

.simpleText{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.simpleBlackText{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #000000;
  text-decoration: none;
}

.boldBlackText{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.postColor   { font-size: 12px; line-height: 160% }







.contentHeadline {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  font-weight: bold;
  color: #000000;
  text-decoration: none
  }

.contentBigText {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-decoration: none
  }

.text {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #000000;
  font-style: normal
  }

.contentBiggertext {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 14px;
  color: #000000;
  font-style: normal
  }

.whitetext {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  color: #FFFFFF;
  font-style: normal
  }

.whitetextbold {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF
  }

.textbold {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  font-weight: bold
  }

.veralink {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 11px;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase
  }

.veralink2 {
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 10px;
  font-style: oblique;
  color: #000000
  }
  
.image {
    margin : 1px 1px 1px 1px;
    border : 1px 1px 1px 1px;
    border-top : 1px solid #000000;
    border-right : 1px solid #000000;
    border-bottom : 1px solid #000000;
    border-left : 1px solid #000000;
    float: center;
}

/* bads.tm stripe */
section.footer {
    margin-top: 0
}

section.footer .stripe {
    background: #000000;
    padding: 1em 0
}

section.footer .stripe .logo {
    width: 7em;
    margin: 0 auto
}

section.footer .stripe .logo img {
    display: block
}

/* bads.tm copyright text */
.copyRightbds{
  font-family: 'Product Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  font-size: 14px;
  color: #FFFFFF;
  font-style: bold
}